ion-header {
    ion-toolbar {
        --padding-start: 1.5vh;
        --padding-end: 1.5vh;

        ion-title {
            img {
                height: 6vh;
                width: 6vh;
            }
        }
        ion-buttons {
            ion-thumbnail {
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                --border-radius: 10px;
                ion-icon {
                    font-size: 1.5rem;
                }
            }
        }
        

    }
}

ion-row.tagline {
    padding-left: 1.5vh;
    ion-text {
        font-size: 2rem;
        font-weight: 800;
    }
}

ion-row.srch {
    padding-right: 1vh;
    align-items: center;
    ion-searchbar {
        --background: #ffffff;
        --border-radius: 10px;
    }
}